{
  "team": "/CxServer/Console",
  "sast": {
   "preset": "Custom Pismo",
   "incremental": "true",
   "fileExcludes": "*_test*, *-lock.json",
   "folderExcludes": "*test*, *Test*, *generated*, *mock*"
  },
  "additionalProperties": {
    "cxFlow": {
      "thresholds": {
        "HIGH": 0,
        "MEDIUM": 0
        }
    }
  }
}

